@import "fonts/fenomen+sans/stylesheet.css";
@import "fonts/gilroy/stylesheet.css";
body {
    background-color: #021144;
    font-family: 'Fenomen Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Gilroy', sans-serif;
}

@media (min-width: 1300px) {
    header .container{
        max-width: 1280px;
    }
}

header .navbar .navbar-collapse .navbar-nav .nav-link {
    font-size: 18px;
    line-height: 23px;
    color: #2E75DA;
    outline: none;
    padding: 0 20px;
    -webkit-appearance: none;
}

header .navbar .navbar-collapse .navbar-nav .nav-link:hover {
    color: #fff;
}

header .navbar .navbar-collapse .navbar-nav .nav-item {
    display: flex;
    align-items: center;
}

header .navbar .navbar-collapse .navbar-nav .nav-link.btn-trial {
    border: 2px solid #2E75DA;
    box-sizing: border-box;
    border-radius: 39.5px;
    line-height: 40px;
    font-family: 'Fenomen Sans', sans-serif;
}

header .navbar .navbar-collapse .navbar-nav .nav-link.btn-trial:hover {
    border: 2px solid #fff;
}

.social-media-header {
    margin: 50px 0;
    position: relative;
    z-index: 2;
}

.analyze-wrapper {
    display: flex;
    flex-direction: column;
    width: 55%;
    align-items: center;
    margin: 0 auto;
}

.analyze-wrapper h2 {
    font-weight: normal;
    font-size: 54px;
    line-height: 1.1;
    text-align: center;
    color: #FFFFFF;
}

.analyze-wrapper p {
    font-size: 22px;
    line-height: 28px;
    text-align: center;
    color: #FFFFFF;
    padding: 35px 0 15px;
    width: 490px;
    max-width: 100%;
}

.social-btn {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 40px;
}

.btn {
    font-family: 'Gilroy', sans-serif;
    font-weight: 700;
}

.btn-free {
    font-size: 24px;
    text-align: center;
    color: #FFFFFF;
    background: #2E75DA;
    border-radius: 39.5px;
    width: 415px;
    line-height: 2.2;
    margin-bottom: 35px;
}

.btn-free:hover {
    background: #EE5E31;
    color: #fff;
}

.social-banner p {
    font-size: 20px;
    line-height: 24px;
    color: #3b73c3;
    font-family: 'Fenomen Sans', sans-serif;
    text-align: center;
    margin: 0 auto;
    width: 100%;
}

.social-banner {
    position: relative;
    z-index: 1;
    margin-top: -13em;
}

.social_icon_wrap {
    position: relative;
    padding: 15em 0 5em;
    background: url(img/positive.png) no-repeat;
    background-size: auto;
    background-position: right top;
    background-size: contain;
}

.social_action_wrap {
    padding: 0 0;
    position: relative;
}

.social_action_wrap .content-text h4 {
    font-size: 53px;
    line-height: 52px;
    color: #fff;
    width: 65%;
    margin-bottom: 30px;
}

.social_action_wrap .content-text p {
    font-size: 22px;
    line-height: 28px;
    color: #ffffff;
}

.right-side {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
  margin: auto;
  height: 20em;
  font-size: 16px;
    padding: 0;
    z-index: 1;
    display: none;
}

.right-side-services {
    position: absolute;
    right: 0;
    margin-top: -100px;
}

.right-side-services img{

}

.social_icon_wrap .content-text h4 {
    font-size: 53px;
    line-height: 52px;
    color: #EE5E31;
    width: 65%;
    margin-bottom: 30px;
}

.comment-wrapper {
    font-size: 16px;
    padding: 15em 0 30em;
    background: url("img/msg.png") no-repeat;
    background-size: 130% auto;
    background-position: bottom center;
    min-height: 80em;
}

.comment-wrapper .content-text h3 {
    font-size: 53px;
    line-height: 52px;
    text-align: center;
    color: #0D84FF;
    margin-bottom: 50px;
}

.social_action_wrap {
    padding: 15em 0 10em 0;
}

.social_action_wrap .content-text h5 {
    font-weight: bold;
    font-size: 22px;
    line-height: 25px;
    color: #fff;
    margin-bottom: 30px;
}

.social_icon_wrap .content-text p {
    font-size: 22px;
    line-height: 28px;
    color: #FFFFFF;
}

.comment-wrapper .content-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    width: 50%;
}

.comment-wrapper .content-text p {
    font-size: 22px;
    line-height: 28px;
    color: #FFFFFF;
    text-align: center;
}

.social_icon_wrap .content-text h5 {
    font-weight: bold;
    font-size: 22px;
    line-height: 25px;
    color: #EE5E31;
    margin-bottom: 30px;
}

.comment-wrapper .content-text h5 {
    font-weight: bold;
    font-size: 22px;
    line-height: 25px;
    color: #0D84FF;
    margin-bottom: 50px;
    cursor: pointer;
    margin-top: 20px;
}

.comment-wrapper .content-text ul li, .social_action_wrap .content-text ul li {
    font-size: 22px;
    line-height: 28px;
    list-style: none;
    color: #FFFFFF;
    position: relative;
    text-align: left;
}

.comment-wrapper .content-text ul li::after, .social_action_wrap .content-text ul li::after {
    content: '';
    position: absolute;
    left: -15px;
    top: 12px;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #0D84FF;
}

.message-img {
    position: relative;
}

.efficiency-wrapper {
    background: #2959ad;
    padding: 80px 0;
}

.text-efficiency {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-direction: column;
}

.efficiency-wrapper h4 {
    font-size: 53px;
    line-height: 52px;
    text-align: center;
    color: #021144;
}

.btn-trial {
    margin: 35px auto;
}

.btn-try {
    border: 4px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 52.5px;
    width: 710px;
    height: 100px;
    font-size: 29px;
    line-height: 18px;
    text-align: center;
    letter-spacing: 2.24435px;
    color: #FFFFFF;
}

.btn-try:hover {
    border: 4px solid #EE5E31;
    color: #EE5E31;
}

.text-efficiency p {
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #021144;
}

footer {
    padding: 100px 0;
}

.link ul {
    padding-left: 0;
    margin-top: 45px;
}

.link ul li {
    list-style: none;
    font-size: 18px;
    line-height: 25px;
    color: #FFFFFF;
    margin-bottom: 20px;
}

/* responsive media (mobile device)*/
@media screen and (min-width: 3000px) {
  .comment-wrapper{
    padding-bottom: 70em;
  }
}

/* responsive media (mobile device)*/

@media screen and (max-width: 1199px) {
    .social_icon_wrap{
        background-size: auto 70%;
    }
}

/* responsive media (mobile device)*/

@media screen and (max-width: 991px) {
  .right-side-services {
    position: unset !important;
        margin-top: 0;
        display: block;
    }

    .social_icon_wrap {
        background-image: none;
      padding: 5em 0;
    }

  .right-side {
    position: absolute !important;
    display: block;
  }
  .comment-wrapper{
    padding: 5em 0 10em;
    min-height: 0;
  }

}

@media screen and (max-width: 767px) {
  .right-side {
    position: unset !important;
  }

    header .navbar .navbar-brand {
        width: 150px;
    }

    .btn-try {
        border: 1px solid #FFFFFF;
        border-radius: 52.5px;
        max-width: 710px;
        height: auto;
        width: 100%;
        font-size: 14px;
        letter-spacing: normal;
    }

    .btn-free {
        font-size: 14px;
        width: 100%;
        line-height: normal;

    }

    .social_icon_wrap {
        padding: 100px 0;
    }

    .analyze-wrapper {
        width: 100%;
        padding: 0 15px;
    }

    .social_icon_wrap .content-text h4, .comment-wrapper .content-text h3 {
        font-size: 32px;
        line-height: 32px;
        width: 100%;
        margin-bottom: 20px;
    }

    .social_icon_wrap .content-text p, .comment-wrapper .content-text p {
        font-size: 17px;
        line-height: 20px;
    }

    .comment-wrapper .content-text {
        width: 100%;
    }

    .message-img {
        position: unset !important;
    }

    .social_action_wrap {
        padding: 5em 0 5em;
        position: unset !important;
    }

    .comment-wrapper .content-text ul li, .social_action_wrap .content-text ul li, .social_action_wrap .content-text p {
        font-size: 18px;
        line-height: 18px;
    }

    .comment-wrapper .content-text ul li::after, .social_action_wrap .content-text ul li::after {
        display: none;
    }

    .efficiency-wrapper {
        padding: 30px 0;
        margin-top: 30px;
    }

    .efficiency-wrapper h4 {
        font-size: 32px;
        line-height: 32px;
    }

    .text-efficiency p {
        font-size: 14px;
        line-height: 18px;
    }

    footer {
        padding: 50px 0;
    }

    .link ul li {
        font-size: 15px;
        line-height: 18px;
        margin-bottom: 10px;
    }

    .link ul {
        margin-top: 15px;
    }

    .social_action_wrap .content-text h4 {
        font-size: 32px;
        line-height: 32px;
        width: 100%;
        margin-bottom: 15px;
        margin-top: 15px;
    }

    .comment-wrapper .content-text h5 {
        font-size: 16px;
        line-height: 20px;
        margin-bottom: 15px;
        margin-top: 15px;
    }

    .comment-wrapper {
        padding: 0 0 20em;
        min-height: 30em;
    }


}


@media screen and (max-width: 576px) {
    .social-banner {
        margin-top: -2.5px;
    }

    .comment-wrapper {
        min-height: 0;
        padding-bottom: 10em;
    }

    .analyze-wrapper h2 {
        font-size: 32px;
        line-height: 32px;
    }

    .social_icon_wrap {
        padding: 50px 0;
    }

    .social-media-header {
        margin: 20px 0;
    }

    .analyze-wrapper p {
        font-size: 18px;
        line-height: 20px;
        padding-top: 30px;
    }

    .social-btn {
        position: unset !important;
    }

    .social-banner p {
        position: unset !important;
        font-size: 14px;
    }

    .right-side {
        position: unset !important;
    }

    .right-side-services {
        position: unset !important;
    }
}